.metadata
Debug
Release

Core/Src/stm32f4xx_hal_msp.c
Core/Src/stm32f4xx_it.c
Core/Src/syscalls.c
Core/Src/sysmem.c
Core/Src/system_stm32f4xx.c

Core/Inc/stm32f4xx_hal_conf.h
Core/Inc/stm32f4xx_it.h 

Drivers
Middlewares
USB_DEVICE

